<div class="notes">
    <button id="notes-open" class="button button__icon button__notes" aria-label="Anteckningar">
        {% svg "note_add_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
    </button>
</div>

<template id="notes">
    <aside class="notes__overlay" id="notes-overlay">
        <button id="notes-close" class="button__close" aria-label="close" tabindex="0">✕</button>
        <section class="notes__form">
            <label for="notes" class="">Mina anteckningar</label>
            <textarea id="notes-area" name="notes-area" rows="4"></textarea>
        </section>
    </aside>
</template>