<div class="notes">
    <button id="notes-open" class="button button__icon" aria-label="Anteckningar">
        {% svg "note_add_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
    </button>
</div>

<div id="notes-overlay" class="overlay">
    <div class="overlay__inner">
        <header class="overlay__header">
            <h2>Feedback</h2>
        </header>
    </div>
</div>