/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_theme/color-tokens.js
 */

$color-primary: #c8c8a9 !default;
$color-on-primary: #545442 !default;
$color-secondary: #f9cdad !default;
$color-on-secondary: #7A5539 !default;

$base-color-tokens: ("primary", "secondary");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
}