.grid {
    background-color: $gray-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: ms(1);
    padding: ms(1);

    
    &__item {
        z-index: 100;
        height: ms(8);
        position: relative;
        display: flex;
        flex: 1 0 21%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        background-color: $gray-100;
        
        &:first-child {
            color: $color-on-primary;
            background-color: $color-primary;
        }
        
        h3 {
            font-size: ms(0);
            font-weight: 400;
            padding-left: ms(-2);
            padding-right: ms(-2);
            white-space: nowrap;
            overflow: hidden;
        }
    }
    
    &__initials {
        font-weight: 700;
        text-transform: uppercase;
        font-size: ms(4);
    }
    
    &__link {
        text-decoration: none;
    }
    
    &__bar {
        background-color: $color-on-primary;
    }

    &__left, &__right, &__top, &__bottom {
        background-color: $color-primary;
        position: absolute;
        overflow: hidden;
        display: flex;
    }
    &__left {
        top: 0;
        left: 0;
        width: ms(-4);
        height: 100%;
        z-index: 10;
        align-items: flex-end;
        .grid__bar {
            width: 100%;
            height: 0%;
        }
    }
    &__right {
        top: 0;
        right: 0;
        width: ms(-4);
        height: 100%;
        z-index: 30;
        .grid__bar {
            width: 100%;
            height: 0%;
        }
    }
    &__top {
        top: 0;
        left: 0;
        width: 100%;
        height: ms(-4);
        z-index: 40;
    }
    &__bottom {
        bottom: 0;
        left: 0;
        width: 100%;
        height: ms(-4);
        z-index: 20;
        justify-content: flex-end;
    }
}

/*
<svg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'>
<style>
    path{
        animation:stroke 2s linear;
    }
    @keyframes stroke{to{stroke-dashoffset:776;}}
</style>
<path d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke-width='3' stroke-dasharray='388'/>
</svg>
*/