.button {
    align-items: center;
    display: flex;

    border: none;
    border-radius: var(--border-radius);
    padding: var(--space-2xs) var(--space-xs);

    background-color: var(--color-primary);
    cursor: pointer;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-on-primary);
    white-space: nowrap;
    overflow: hidden;

    &__icon {
        line-height: 1;
    }

    &:hover {
        color: var(--color-on-primary--light);
    }
}
